@using Color = MudBlazor.Color

    <EditForm Model="@BookModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator"/>
        <MudDialog>
            <TitleContent>
                @{
                    if (BookModel.ID == 0)
                    {
                        <MudText Typo="Typo.h6">
                            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                            Add Book
                        </MudText>
                    }
                    else
                    {
                        <MudText Typo="Typo.h6">
                            <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                            Update Book
                        </MudText>
                    }
                }
            </TitleContent>
            <DialogContent>
              
                <MudGrid>
                    @if (BookModel.ID != 0)
                    {
                        <MudItem xs="12" md="6">
                            <MudTextField Disabled For="@(() => BookModel.ID)" @bind-Value="BookModel.ID" Label="ID"/>
                        </MudItem>
                    }
                    <MudItem xs="12" md="6">
                        <MudTextField T="string" For="@(() => BookModel.Judul)" @bind-Value="BookModel.Judul" Label="Judul" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => BookModel.Penulis)" @bind-Value="BookModel.Penulis" Label="Penulis" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField T="string" For="@(() => BookModel.Penerbit)" @bind-Value="BookModel.Penerbit" Label="Penerbit" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudAutocomplete T="int" Label="Kategori" For="@(() => BookModel.CategoryID)" @bind-Value="BookModel.CategoryID" 
                                         ResetValueOnEmptyText="true" SearchFunc="@SearchCategories" Variant="Variant.Filled" 
                                         ToStringFunc="@(i => _categories.FirstOrDefault(b => b.ID == i)?.Nama ?? string.Empty)" OffsetY="true" />
                    </MudItem>
                  
                    <MudItem xs="12" md="6">
                        <MudTextField For="@(() => BookModel.Deskripsi)" @bind-Value="BookModel.Deskripsi" Label="Deskripsi" Lines="5" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                    <MudCheckBox For="@(() => BookModel.Status)" @bind-Checked="@BookModel.Status" Label="Status"  Color="Color.Secondary"></MudCheckBox>
                    </MudItem>
                <MudItem xs="12" md="6">
                    <MudItem>
                        <MudAvatar Image="@(ImageData)" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                    </MudItem>
                    <MudItem>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                              Upload
                            </MudButton>
                            @if (!string.IsNullOrEmpty(BookModel.Gambar))
                            {
                                <MudButton Variant="Variant.Text"
                                       Color="Color.Info"
                                       StartIcon="@Icons.Filled.RemoveRedEye"
                                       Size="Size.Small"
                                       Link="@(BookModel.Gambar)" Target="_blank">
                                    View
                                </MudButton>
                                <MudButton Variant="Variant.Text"
                                       Color="Color.Error"
                                       StartIcon="@Icons.Filled.Delete"
                                       Size="Size.Small"  OnClick="DeleteAsync">
                                   Delete
                                   </MudButton>
                            }
                        </div>
                    </MudItem>
                </MudItem>
               

                </MudGrid>
            </DialogContent>
            <DialogActions>
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
            @if (BookModel.ID != 0)
                {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">Update</MudButton>
                }
                else
                {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">Save</MudButton>
                }
            </DialogActions>
        </MudDialog>
    </EditForm>


